@import './base.css';
@import url('https://fonts.googleapis.com/css2?family=Fanwood+Text:ital@0;1&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --r: (100/1512) * 1vw;
  --rm: (100/320) * 1vw;

  
}



body {
  font-family: "Fanwood Text", serif;
  font-weight: 400;
  font-style: normal;
  font-size: max(14 * var(--r), 14px);
  overflow-x: hidden;
  @apply
  bg-slate-50;
}

header {
  padding: calc(20 * var(--r));
  @apply
  text-black
  top-0
  right-0
  fixed
  z-50
  grid
  gap-3
  grid-cols-6
  lg:grid-cols-13;
  width: 100%;
  @media screen and (max-width: 1024px) {
    width: 100%;
    padding: calc(4 * var(--rm));
  }
  
  &.white {
    @apply
    text-white;
  }
}

footer {
  padding: calc(20 * var(--r));
  margin-top: calc(387 * var(--r));;
  @media screen and (max-width: 1024px) {
    padding: calc(4 * var(--rm));
  }

  @apply
  grid
  grid-cols-6
  lg:grid-cols-13;
  .mail {
    @apply
    col-span-1
    lg:col-span-2
    col-start-1
    lg:col-start-4;
  }
  .phone {
    @apply
    col-span-3
    lg:col-span-2
    col-start-2
    lg:col-start-6;
  }
  p {
    @apply
    text-right
    col-span-2
    lg:col-span-2
    col-start-5
    lg:col-start-12
  }
}


header h1 {
  @apply
  col-span-2
  lg:col-span-3;
}

header nav {
  @apply
  col-start-3
  lg:col-start-4
  col-span-3
  col-span-full
  flex
  flex-col
  lg:flex-row
  lg:justify-end
  lg:gap-7
  w-full;
  a {
    @apply
    text-right
    lg:text-left
    col-span-2;
  }
}

main.project-loop, main.services-page, .project-media, .about {
  padding-top: calc(106 * var(--r));
  padding-left: calc(20 * var(--r));
  padding-right: calc(20 * var(--r));

  @media screen and (max-width: 1024px) {
    padding-top: calc(130 * var(--rm));
    padding-left: calc(0 * var(--rm));
    padding-right: calc(0 * var(--rm));
  }

}

.media-container {
  @apply
  w-full
  overflow-hidden
  
  flex
  justify-center
  items-center
  relative;
  &:before {
    content: '';
    @apply
    absolute
    w-full
    h-full
    top-0
    left-0
    animate-pulse
    bg-slate-200;
  }
}

.media-container video {
  @apply
  w-full;
}

.media-container img {
  @apply
  h-auto
  w-full;
}

.aspect-1_1 {
  @apply
  aspect-1/1;
}

.aspect-16_9 {
  @apply
  aspect-16/9;
}

.aspect-9_16 {
  @apply
  aspect-9/16;
}

.aspect-3_4 {
  @apply
  aspect-3/4;
}

.aspect-4_3 {
  @apply
  aspect-4/3;
}

.aspect-4_5 {
  @apply
  aspect-4/5;
}

.aspect-5_4 {
  @apply
  aspect-5/4;
}

.aspect-1_85 {
  @apply
  aspect-1.85;
}

.aspect-2_35 {
  @apply
  aspect-2.35;
}

.aspect-2_39 {
  @apply
  aspect-2.39;
}

.aspect-2_40 {
  @apply
  aspect-2.40;
}

a.router-link-active {
  @apply
  text-black;
}